@model FAHASA.Models.DaiLy

@{
    ViewBag.Title = "Details";
}

<h2>Thông Tin Đại Lý</h2>

<div>
    <h4></h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenDaiLy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenDaiLy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SoNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoNo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Sửa", "Edit", new { id = Model.MaDaiLy }) |
    @Html.ActionLink("Quay Về Danh Mục Đại Lý", "Index")
</p>
