@model FAHASA.Models.Sach

@{
    ViewBag.Title = "Delete";
}

<h2>Xóa Sách</h2>

<h3>Bạn có muốn xóa sách này ?</h3>
<div>
    <h4></h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenSach)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenSach)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LinhVuc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LinhVuc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GiaXuat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GiaXuat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GiaNhap)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GiaNhap)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-default" /> |
            @Html.ActionLink("Quay Về Danh Mục Sách", "Index")
        </div>
    }
</div>
