@model FAHASA.Models.CT_BaoCaoBanHang

@{
    ViewBag.Title = "Delete";
}

<h2>Xóa Chi Tiết Báo Cáo Bán Hàng</h2>

<h3>Bạn muốn xóa chi tiết này ?</h3>
<div>
    <h4></h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.GiaBan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GiaBan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SoLuong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoLuong)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ThanhTien)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThanhTien)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BaoCaoBanHang.MaBC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BaoCaoBanHang.MaBC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sach.TenSach)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sach.TenSach)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Edit", "BaoCaoBanHang", new { id=Model.MaBC}, null)
        </div>
    }
</div>
