@model IEnumerable<FAHASA.Models.CT_BaoCaoBanHang>

@{
    ViewBag.Title = "Index";
}

<h2>Danh Sách Chi Tiết Báo Cáo Bán Hàng</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.GiaBan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SoLuong)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ThanhTien)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BaoCaoBanHang.MaBC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sach.TenSach)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.GiaBan)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SoLuong)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ThanhTien)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BaoCaoBanHang.MaBC)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sach.TenSach)
        </td>
        <td>
            @Html.ActionLink("Sửa", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Chi Tiết", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Xóa", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
