@model FAHASA.Models.CT_PhieuKiemKho

@{
    ViewBag.Title = "Details";
}

<h2>Chi Tiết Phiếu Kiểm Kho</h2>

<div>
    <h4></h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PhieuKiemKho.MaPhieu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhieuKiemKho.MaPhieu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sach.TenSach)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sach.TenSach)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SoLuongTon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoLuongTon)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Sửa", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Quay Về Danh Sách Chi Tiết Phiếu Kiểm Kho", "Index")
</p>
