@model FAHASA.Models.CT_PhieuNhap

@{
    ViewBag.Title = "Delete";
}

<h2>Xóa Chi Tiết Phiếu Nhập</h2>

<h3>Bạn có muốn xóa chi tiết phiếu này ?</h3>
<div>
    <h4></h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PhieuNhap.NguoiGiaoSach)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhieuNhap.NguoiGiaoSach)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sach.TenSach)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sach.TenSach)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DonGiaNhap)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DonGiaNhap)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SoLuong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoLuong)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ThanhTien)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThanhTien)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-default" /> |
            @Html.ActionLink("Quay Về Danh Sách Chi Tiết Phiếu", "Index")
        </div>
    }
</div>
