@model FAHASA.Models.BaoCaoBanHang

@{
    ViewBag.Title = "Delete";
}

<h2>Xóa Báo Cáo Bán Hàng</h2>

<h3>Bạn muốn xóa báo cáo này ?</h3>
<div>
    <h4></h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NgayGio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayGio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TongTien)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TongTien)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DaiLy.TenDaiLy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DaiLy.TenDaiLy)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-default" /> |
            @Html.ActionLink("Quay Về Danh Sách Báo Cáo Bán Hàng", "Index")
        </div>
    }
</div>
