@model FAHASA.Models.BaoCaoBanHang

@{
    ViewBag.Title = "Details";
}

<h2>Thông Tin Báo Cáo Bán Hàng</h2>

<div>
    <h4></h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NgayGio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayGio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TongTien)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TongTien)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DaiLy.TenDaiLy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DaiLy.TenDaiLy)
        </dd>

    </dl>
    <div class="form-group">
        <p>
            @Html.ActionLink("Thêm chi tiết mới", "Create", "CT_BaoCaoBanHang", new { MaBC = Model.MaBC }, null)
        </p>
        <table class="table">
            <tr>
                <th>
                    Tên sách
                </th>
                <th>
                    Giá bán
                </th>
                <th>
                    Số lượng
                </th>
                <th>
                    Thành tiền
                </th>
            </tr>

            @foreach (var item in ViewBag.CT_BaoCaoBanHang as IEnumerable<FAHASA.Models.CT_BaoCaoBanHang>)
            {
                <tr>
                    <td>
                        @item.Sach.TenSach
                    </td>
                    <td>
                        @item.GiaBan.ToString()
                    </td>
                    <td>
                        @item.SoLuong.ToString()
                    </td>
                    <td>
                        @item.ThanhTien.ToString()
                    </td>
                </tr>
            }
        </table>
    </div>
</div>
<p>
    @Html.ActionLink("Sửa", "Edit", new { id = Model.MaBC }) |
    @Html.ActionLink("Quay Về Danh Sách Báo Cáo Bán Hàng", "Index")
</p>
